extends partials/docwrapper
block langPage
	meta(name= "language", content = "es")
block titlePage
	| #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body
		include partials/header
		include partials/menu
		main.site-main
			section.navigation-container.text-sm-center
				.container
					h2 Bienvenidos al 
					h2 SISTEMA WEB PARA LA ADMINISTRACIÓN 
						| DE TELEVISIÓN DIGITAL
					.text-sm-center
						a.btn.btn-default.btn-lg.active(href="editor.html") Iniciar
		include partials/footer
		include partials/scripts