extends partials/docwrapper
block langPage
	meta(name= "language", content = "es")
block titlePage
	| #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body
		include partials/header
		
		main.site-main
			.container.text-sm-center.bg-white
				h2 Bienvenidos al 
				h2 SISTEMA WEB DE TELEVISIÓN DIGITAL
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				a.btn.btn-default.btn-lg.active.text-sm-center(href="editor.html") Iniciar
		include partials/footer
		include partials/scripts