@import 'normalize';

*, *:after, *::before{
	box-sizing: border-box;
}

body{
	color: get-color(black);
	background-color: get-color(white);
	font-family: $lato;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
}

a{
	color: get-color(black);
}
hr{
	background-color: #D8D8D8;
	border: 0;
	height: 1px;
}