/*Colors Map*/
$colors:
(
    black: #383838,
    black1: #313234,
    black-footer: #232524,
    font-white: #f9f9f7, 
    gray: #f7f7f7,
    gray-cont: #ededed,
    gray-menu: #dfdfdd,
    white: #eeeeee,
    white-body: #f1f1f1, 
    white-footer: #fefdff,
    blue: #23527c, 
    blue1: #337ab7 );

//obtiene color del mapa de colores
@function get-color($color) {
    @if map-has-key($colors, $color) {
        $color: map-get($colors, $color);
    }
    @else {
        @if type-of($color) !=$color {
            @error "Color name:`#{$color}` not found.";
        }
    }
    @return $color;
}

@each $colorName,
$color in $colors {
    .text-#{$colorName} {
        color: $color !important;
    }
    .bg-#{$colorName} {
        background-color: $color !important;
        &_expand-left {
            @include expand($color, left)
        }
        &_expand-right {
            @include expand($color, right)
        }
    }
    .border-#{$colorName} {
        border-color: $color
    }
}