/*
    HEADER
*/
.site-header{
    position: relative;
    height: 60px;
    @include clearfix();
    @include mq($from: tablet) {
    }
    @include mq($from: desktop) {
        // height: 123px;
        height: auto;
        overflow: hidden;
    }
    .site-logo{
        display: block;
        position: absolute;
        z-index: 40;
        width: 140px;
        margin-top: 20px;
        
        @include mq($from: desktop ) {
            width: 163px;
            // margin-top: 20px;
        }
        img{
            height: auto;
            width: 100%;
        }
    }
}