@mixin font($font-name, $font-weight, $font-size){
	$font-family: $font-weight;
	font-family: $font-name, Arial, "Helvetica Neue",Helvetica,sans-serif;
	font-weight: $font-weight;
	@if $size != false{
		font-size: $font-size;
	}
}

@mixin fontSize($size){
	font-size: ms($size);
}

@mixin expand($backgroundColor, $dir:both){
 	position: relative;
 	&:before{
		background-color: $backgroundColor;
		display: block;
		height: 100%;
		width: 500%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -100%;
		left: -100%;
		@include mq($from: tablet){
			content: "";
			@if(dir == left){
				left: initial;
				right: 100%;
			}
			@if(dir == right){
				right: initial;
				left: 100%;
			}
		}
	}
}

@mixin margin($size, $dir:null){
	@if($dir == null){
		margin: $size + px;
	}
	@if($dir != null){
		margin-#{$dir}: $size +px;
	}
}

@mixin centerChild($tagChild){
	position: relative;
	#{$tagChild}{
		@include center();
		@content;
	}
}
@mixin centerBlock(){
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
}

@mixin center($type: default){
	position: absolute;
	@if $type == v{
		top: 50%;
		transform: translateY(-50%);
	} @else if $type == h {
		left: -50%;
		transform: translateX(-50%);
	} @else {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin press-button($scale: .98){
	transition:.2s;
	&.active{
		transform: scale($scale);
	}
}

@mixin placeholder($color: $clr-mixin-placeholder){
	&::-web-kit-input-placeholder{
		color: $color;
	}
	&::-moz-placeholder{
		color: $color;
	}
	&::-ms-input-placeholder{
		color: $color;
	}
}

@mixin img-adaptive(){
	display: block;
	height: auto;
	max-width: 100%;
}

@mixin img-responsive(){
	display: block;
	height: auto;
	width: 100%;
}
@mixin sprite(){
	background-image: url("../img/icons.png");
	background-repeat: no-repeat;
	background-size: 320px;
}

@mixin clearSelect(){
	appearance: none;
	border: 0;
	background-color: transparent;
}

@mixin reset-ul(){
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix($haslayout: true){
	zoom: 1;
	&:before, &:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}

@mixin inline-block($val){
	display: inline-block;
	vertical-align: $val;
}

@mixin opacity($opacity){
	filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
	opacity: $opacity;
}

@mixin img-responsive(){
	display: block;
	height: auto;
	max-width: 100%;
}

@mixin img-adaptive(){
	display: block;
	height: auto;
	max-width: 100%;
}