.navigation {
	position: fixed;
	text-align: center;
	margin: 30px 0;
	@include mq($from: desktop) {}
	&_header {
		display: inherit;
		margin: 0;
		padding: 30px 0 10px;
		text-align: center;
		color: get-color(black);
		h2 {
			font-size: ms(4);
			font-weight: 600;
		}
		p {
			font-size: ms(2);
			font-weight: 400;
		}
	 }
	 &_content {
		  @include mq($from: tablet) {
			padding-left: (163px +15);
		  }
		  @include mq($until: desktop) {
				@include center(v);
				width: 100%;
		  }
	 }
}

.navigation-top{
	display: none;

	@include mq($from: desktop ) {
	  display: block;
	}

	&_menu{
		position: relative;
		padding: 35px 40px;
		margin-bottom: 20px;
		border-radius: 5px;
		background-color: get-color(gray-menu);
		text-align: center;
	}
	&_item{
		display: inline-block;
		margin-bottom: 0;
		padding: 0 32px;
		letter-spacing: 3px;
		a{
			color: get-color(black);
		}
		
		&:first-child{
			margin-left: 0;
		}
		&--has-line{
			&:after{
				background-color: get-color(gray-cont);
				content: "";
				display: block;
				position: absolute;
				// width: 100%;
				left: 0;
				right: 0;
				height: 1px;
				top: 100%;
				@include mq($from: desktop ) {
					width: 1px;
					height: 56px;
					top: 76%;
					left: 17%;
					right: initial;
					margin-top: -53px;
					margin-left: 15px;
				}
			}
		}
	 }
	 &_link{
		  color: get-color(gray-cont);
		  display: block;
		  font-size: 14px;
		  font-weight: 600;
		  @include mq($from: desktop ) {
				padding: 12px 30px;
		  }
		  &.active{
				background-color: get-color(white);
		  }
	 }
}

.navigation-container{
	background-color: get-color(white-cont);
	border-radius: 5px;
	padding: 20px;
}