
html{
	-ms-text--size-adjust: 100%;
	-webkit-text-size-adjust: 100;
	-webkit-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	 font: 300 16px/18px "Whitney";
}

/**
 * Remove default margin.
 */
body{
	margin: 0
}

*{
	outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

main{
  background-color: get-color(white);
}
.site-main{
  background-color: get-color(white-body);

}
a {
  background-color: transparent;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}














