head
	meta(charset='utf-8')
	block langPage
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='')
	title
		block titlePage
	link(href="font" rel="text/html")
	link(rel='stylesheet', href='css/bootstrap.min.css')
	link(rel='stylesheet', href='css/style.css')
	block cssPage
	block scriptsHead