header
	.container
		.nav.navigation_header 
			h2 PROYECTO TELEVISIÓN DIGITAL UMSS
			p Aplicación para Televisión Digital que Permita Aumentar Información Adicional
	.side-header_menu
		.container
			.nav.navigation_content
				ul
					li: a(href="index.html") INICIO
					li: a(href="editor.html") EDITOR
					li: a(href="video-list.html") LISTA VIDEOS
					li: a(href="tutorial.html") TUTORIAL
					li: a(href="acerca-de.html") ACERCA DE