header
	.container
		.nav.navigation_header
			h2.text-black PROYECTO TELEVISIÓN DIGITAL UMSS
			p.text-black Aplicación para Televisión Digital que Permita Aumentar Información Adicional
	.side-header_menu
		.container
			.nav
				ul.navigation-top_menu
					li.navigation-top_item.navigation-top_item--has-line: a(href="index.html") INICIO
					li.navigation-top_item.navigation-top_item--has-line: a(href="editor.html") EDITOR
					li.navigation-top_item.navigation-top_item--has-line: a(href="video-list.html") LISTA VIDEOS
					li.navigation-top_item.navigation-top_item--has-line: a(href="tutorial.html") TUTORIAL
					li.navigation-top_item: a(href="acerca-de.html") ACERCA DE